.Output {
  background-color: grey;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
}

.Output:hover {
  opacity: 0.8;
}

.Output p:first-child {
  background-color: orange;
  padding: 10px;
}

.Output p {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: antiquewhite;
  color: black;
}
